[project]
	description = RabbitMQ puppet module
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ivan M. (ivmarcineb)
[access "refs/for/refs/*"]
	read = group user/Ivan M. (ivmarcineb)
	push = group user/Ivan M. (ivmarcineb)
	label-Code-Review = -2..+2 group user/Ivan M. (ivmarcineb)
	label-Verified = -1..+1 group user/Ivan M. (ivmarcineb)
	rebase = group user/Ivan M. (ivmarcineb)
	removeReviewer = group user/Ivan M. (ivmarcineb)
	submit = group user/Ivan M. (ivmarcineb)
[access "refs/heads/*"]
	read = group user/Ivan M. (ivmarcineb)
	create = group user/Ivan M. (ivmarcineb)
	push = +force group user/Ivan M. (ivmarcineb)
	pushMerge = group user/Ivan M. (ivmarcineb)
[access "refs/tags/*"]
	push = +force group user/Ivan M. (ivmarcineb)
	pushTag = group user/Ivan M. (ivmarcineb)
	pushSignedTag = group user/Ivan M. (ivmarcineb)
